$primarycyan: #2fb5b1;
$primarygreen: #1a6562;

$text: #858585;
$white: #ffffff;
$completed: green;
$canceled: red;
$unaviable: rgb(248, 248, 30);
$reserved: linear-gradient(180deg, rgba(47,181,177,1) 0%, rgba(26,101,98,1) 50%);
$redlinear: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(186,5,5,1) 50%);