*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: Poppins-Extralight;
    src: url(../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face{
    font-family: Poppins-Medium;
    src:url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Thin;
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}